@import "../../static/css/variable.scss";

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-between;
  height: 100%;
  width: 100%;

  .homeMainImage {
    width: 90%;
    margin-top: 6px;
  }

  .home-logo {
    margin-top: 24px;
    width: 113.14px;
    img {
      width: 100%;
    }
  }
  .home-headText {
    margin-top: 32px;
    img {
      width: 100%;
      max-width: 214px;
    }
  }

  .home-headText-point {
    color: $point;
  }
  .homeDescText {
    img {
      width: 100%;
      max-width: 166px;
    }

    margin-top: 16px;
  }

  .homeCTAButton {
    margin-top: 16px;
    width: 100%;
    // height: 70px;
    cursor: pointer;
  }

  .home-mainText {
    margin-top: 56px;
    width: 100%;
    border: solid 1px black;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
  }

  a {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  a:visited {
    color: black;
  }
  .home-start-button {
    cursor: pointer;
    display: block;
    margin-top: 56px;
    width: 100%;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    color: black;

    transition: background-color 500ms;
  }

  .home-start-button:hover {
    background-color: antiquewhite;
  }
}
