$point: #ffa4a4;
$black: #0d0d0d;

$bg1: #a2d7ff;
$bg2: #89ccff;
$bg3: #67bdfe;
$bg4: #4ea2e0;
$bg5: #51a5e4;
$bg6: #2d80be;
$bg7: #2470a9;
$bg8: #16507b;
$bg9: #0c3758;
$bg10: #0e2f47;
$bg11: #012037;
