.resultPage {
  display: flex;
  align-items: center;
  flex-direction: column;

  .logo {
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }

  .result-head {
    .subText {
    }

    .mainText {
    }
  }
}
