.resultPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;

  .all-elem {
    margin-top: 24px;
    cursor: pointer;
    width: 100%;
    padding: 40px;
    // border: solid 1px black;
    text-align: center;
  }

  .all-elem:active {
    transform: scale(0.98);
  }

  .logo {
    width: 113px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }
  .resultMainImage {
    width: 400px;
  }

  .resusltWrapper {
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    width: 92%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .result-head {
    // margin-top: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .subText {
      font-weight: 500;
    }

    .mainText {
      margin-top: 4px;
      font-size: 24px;
      margin-top: 6px;
      font-weight: 700;
    }
  }

  .result-main-desc {
    margin-top: 24px;
    width: 80%;
    padding: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    line-height: 1.5;
    font-weight: bold;
    padding-bottom: 0;
    // border: solid 1px black;
  }
  .resultText {
    width: 320px;
  }

  .result-second-desc {
    margin-top: 24px;
    width: 100%;
    font-size: 16px;
    padding: 40px;
    padding-bottom: 0;
    // border: solid 1px black;

    .intro {
      font-weight: bold;
    }

    .inMyBirthDay {
      margin-top: 24px;
    }
  }

  .result-third-desc {
    margin-top: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    // padding: 40px;
    // border: solid 1px black;

    .firstText {
      width: 100%;
      text-align: center;
    }

    .result-relation {
      // margin-top: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      padding-top: 20px;
      hr {
        border: solid 0.5px black;
        width: 90%;
      }
      .desc {
        font-size: 14px;
        font-weight: 400;
        margin-top: 6px;
      }
      .nickName {
        font-size: 14px;
        font-weight: 700;
        margin-top: 6px;
      }
      .top {
        width: 90%;
        // padding: 40px;
        // border: solid 1px black;
        // text-align: center;
        // margin-right: 2%;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
      .top:active,
      .bottom:active {
        transform: scale(0.99);
      }

      .bottom {
        width: 90%;
        // padding: 40px;
        // margin-top: 4px;
        display: flex;
        // border: solid 1px black;
        // text-align: center;
        align-items: center;
        cursor: pointer;
      }
      .right {
        margin-left: 40px;
      }
    }
  }
  .result-go-toPnuu {
    width: 100%;
    margin-top: 24px;
    padding: 32px;
    border: solid 1px black;
    text-align: center;
    cursor: pointer;
  }

  .result-move-to-all {
    width: 100%;
    margin-top: 24px;
    // padding: 16px;
    // border: solid 1px black;
    text-align: center;
    cursor: pointer;
    color: black;
    a {
      color: black;
    }
  }
  .result-move-to-all:active {
    transform: scale(0.99);
  }
  .advertise {
    margin-top: 16px;
    width: 100%;
    cursor: pointer;
  }

  .retest {
    margin-top: 8px;
    width: 100%;
    margin-bottom: 100px;
    // padding: 16px;
    // border: solid 1px black;
    // text-align: center;
    // cursor: pointer;
    // text-align: center;
    // margin-bottom: 200px;
    // background-color: burlywood;
    // color: white;
    // font-weight: bold;
    // font-size: 22px;
    // text-decoration: underline;
  }
}

.resultContent {
  margin-top: 40px;
  font-size: 13px;
  line-height: 1.1;
  width: 300px;
  // position: relative;
  .contentTitle {
    font-weight: 900;
    margin-bottom: 16px;
  }
  .text {
    position: relative;
  }
  .text::before {
    content: ".";
    position: absolute;
    top: -7px;
    left: -10px;
    font-size: 14px;
    top: 0px;
  }
}

.resultContent:last-of-type {
  margin-bottom: 90px;
}

.combinationBox {
  width: 91%;
  height: 300px;
  margin-top: 16px;
  background-image: url("/img/combinationBox.png");
  background-size: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  background-position: center;
}

.typeLogo {
  width: 100px;
}

.relation {
  color: #ffa4a4;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}
